{% extends 'base.html' %}

{% block content %}

    <title>Attendance Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/attendance_report.css') }}">

    <div class="container">
      <h1 class="text-center mt-5">Attendance Report for {{ selected_report_id }}</h1>
        <hr>
        </br>

        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-header bg-info text-white">Class ID</div>
              <div class="card-body">{{ class_id }}</div>
            </div>
          </div>
            <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-header bg-info text-white">Class Name</div>
              <div class="card-body">{{ class_name }}</div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-header bg-info text-white">Date</div>
              <div class="card-body">{{ date }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-header bg-info text-white">Start Time</div>
              <div class="card-body">{{ start_time }}</div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-header bg-info text-white">End Time</div>
              <div class="card-body">{{ end_time }}</div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-header bg-info text-white">Total Face Detected</div>
              <div class="card-body">{{ total_face_detected }}</div>
            </div>
          </div>
        </div>

        <div>
            {% if session['user_type'] != 'student' %}
                <button class="btn btn-primary float-right mb-3" id="edit-attendance-btn">Edit</button>
            {% else %}
                <button class="btn btn-primary float-right mb-3" id="edit-attendance-btn" disabled hidden>Edit</button>
            {% endif %}
        </div>

        <table class="table" id="present-table">
          <h3>Present</h3>
          <thead>
            <tr>
              <th>Attendance ID</th>
              <th>Name</th>
              <th>User Type</th>
              <th>Join Time</th>
              <th class="status-col">Status</th> <!-- new column for toggle buttons -->
            </tr>
          </thead>

          <tbody>
            {% if present_ids %}
              {% for id, data in present_ids.items() %}
              <tr class="{{ 'table-primary' if data['user_type'] == 'Lecturer' else '' }}">
                <td>{{ id }}</td>
                <td>{{ data['name'] }}</td>
                <td>{{ data['user_type'] }}</td>
                <td>{{ data.get('lecturer_join_time') or data.get('student_join_time') }}</td>
                  <td class="status-col">
                      {% if data['user_type'] == 'Lecturer' %}
                        <label class="switch">
                          <div onclick="alert('You can not change the lecturer\'s attendance')">
                            <input type="checkbox" checked disabled>
                            <span class="slider round" style="background-color: lightseagreen;"></span>
                          </div>
                        </label>
                      {% else %}
                        <label class="switch">
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                        </label>
                      {% endif %}
                  </td>
              </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="3">No attendance records found for present</td>
              </tr>
            {% endif %}
          </tbody>
        </table>

        </br>

        <table class="table" id="absent-table">
          <h3>Absent</h3>
          <thead>
            <tr>
              <th>Attendance ID</th>
              <th>Name</th>
              <th>User Type</th>
              <th>Join Time</th>
              <th class="status-col">Status</th> <!-- new column for toggle buttons -->
            </tr>
          </thead>
          <tbody>
            {% if absent_ids %}
              {% for id, data in absent_ids.items() %}
              <tr class="{{ 'table-primary' if data['user_type'] == 'Lecturer' else '' }}">
                <td>{{ id }}</td>
                <td>{{ data['name'] }}</td>
                <td>{{ data['user_type'] }}</td>
                <td>{{ data.get('lecturer_join_time') or data.get('student_join_time') }}</td>
                  <td class="status-col">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </td>
              </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="3">No attendance records found for absent</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
    </div>

    <script>

    // Get the "Edit" button element
    var editBtn = document.getElementById("edit-attendance-btn");

    // Get the present_table and absent_table elements
    var presentTable = document.getElementById("present-table");
    var absentTable = document.getElementById("absent-table");

    // Get the fifth column header and cells for both tables
    var statusHeaders = document.querySelectorAll("th:nth-child(5)");
    var presentStatusCells = presentTable.querySelectorAll("td:nth-child(5)");
    var absentStatusCells = absentTable.querySelectorAll("td:nth-child(5)");


    // Hide the fifth column by default
    statusHeaders.forEach(function(header) {
      header.style.display = "none";
    });
    presentStatusCells.forEach(function(cell) {
      cell.style.display = "none";
    });
    absentStatusCells.forEach(function(cell) {
      cell.style.display = "none";
    });

    // Add a click event listener to the "Edit" button
    editBtn.addEventListener("click", function() {
      // Toggle the visibility of the fifth column header and cells for both tables
      if (editBtn.innerHTML === "Edit") {
        editBtn.innerHTML = "Save Changes";
        editBtn.style.backgroundColor = "red";
        statusHeaders.forEach(function(header) {
          header.style.display = "table-cell";
        });
        presentStatusCells.forEach(function(cell) {
          cell.style.display = "table-cell";
        });
        absentStatusCells.forEach(function(cell) {
          cell.style.display = "table-cell";
        });
      } else {
        if (confirm("Do you want to save the changes?")) {
          editBtn.innerHTML = "Edit";
          editBtn.style.backgroundColor = "";
          statusHeaders.forEach(function(header) {
            header.style.display = "none";
          });
          presentStatusCells.forEach(function(cell) {
            cell.style.display = "none";
          });
          absentStatusCells.forEach(function(cell) {
            cell.style.display = "none";
          });

          // Create arrays to hold the IDs of present and absent attendees
            var presentIds = [];
            var absentIds = [];

            // Loop through the present status cells and check if the checkbox is checked
            presentStatusCells.forEach(function(cell) {
              var checkbox = cell.querySelector("input[type=checkbox]");
              if (checkbox.checked) {
                // Get the ID of the attendee from the first column of the same row
                var idCell = cell.parentElement.querySelector("td:first-child");
                var id = idCell.textContent;
                presentIds.push(id);
              } else {
                // Get the ID of the attendee from the first column of the same row
                var idCell = cell.parentElement.querySelector("td:first-child");
                var id = idCell.textContent;
                absentIds.push(id);
              }
            });

            // Loop through the absent status cells and check if the checkbox is checked
            absentStatusCells.forEach(function(cell) {
              var checkbox = cell.querySelector("input[type=checkbox]");
              if (checkbox.checked) {
                // Get the ID of the attendee from the first column of the same row
                var idCell = cell.parentElement.querySelector("td:first-child");
                var id = idCell.textContent;
                presentIds.push(id);
              } else {
                // Get the ID of the attendee from the first column of the same row
                var idCell = cell.parentElement.querySelector("td:first-child");
                var id = idCell.textContent;
                absentIds.push(id);
              }
            });

          setTimeout(function() {
            if (document.readyState === "complete") {
              location.reload(true);
            }
          }, 100);

          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/attendance_report/{{ selected_report_id }}");
          xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
          xhr.send(JSON.stringify({presentIds: presentIds, absentIds: absentIds}));
        }
      }
    });

    </script>

{% endblock %}