{% extends 'base.html' %}

{% block content %}
    <title>Attendance in Progress</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="text-primary">Class ID: {{ selected_class_id }}</h2>
            <h2 class="text-primary">Class Name: {{ class_name }}</h2>
            <form method="post">
                <button type="submit" class="btn btn-danger">End Class</button>
            </form>
        </div>
        <div class="text-center">
            <div>
                <img src="{{ url_for('video_feed', selected_class_id=selected_class_id) }}" class="img-fluid" width="720" height="480">
            </div>
        </div>
        </br>
        <div>
            <table class="table" id="attendance-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Time Recorded</th>
                        <th>User Type</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-database.js"></script>
    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
      import { getDatabase, ref, onChildAdded, child, get} from "https://www.gstatic.com/firebasejs/9.19.1/firebase-database.js";

      const firebaseConfig = {
        apiKey: "AIzaSyAF-Y4h-uasr5tdphjsmez-RiJlGkHZdmw",
        authDomain: "fyp1-d54dc.firebaseapp.com",
        databaseURL: "https://fyp1-d54dc-default-rtdb.asia-southeast1.firebasedatabase.app",
        projectId: "fyp1-d54dc",
        storageBucket: "fyp1-d54dc.appspot.com",
        messagingSenderId: "540382001319",
        appId: "1:540382001319:web:e040553e3a73c494588382",
        measurementId: "G-7Y5LY003L5"
      };

        const app = initializeApp(firebaseConfig);
        const db = getDatabase();

        const attendanceRef = ref(db, '{{ db_ref }}/attendance_ids');

        const lecturerRef = ref(db, 'class/' + '{{selected_class_id}}');
        let lecturer_id;
        let lecturer_name;
        get(child(lecturerRef, 'lecturer')).then((lecturerIdSnapshot) => {
          lecturer_id = lecturerIdSnapshot.val();
          const lecturerNameRef = ref(db, 'lecturer/' + lecturer_id + '/name');
          get(lecturerNameRef).then((lecturerNameSnapshot) => {
            lecturer_name = lecturerNameSnapshot.val();
            console.log("START CLASS", "lecturer_id:", lecturer_id, "lecturer_name:", lecturer_name);
          });
        });

        onChildAdded(attendanceRef, (snapshot) => {
          const id = snapshot.key;
          const tableRow = document.createElement("tr"); // create a new row for the table
          if (id === lecturer_id) {
            console.log("\nlecturer_id:", lecturer_id, "lecturer_name:", lecturer_name);
            const attendance_data = snapshot.val();
            let userType = '';
            let joinTime = '';
            for (const [key, value] of Object.entries(attendance_data)) {
              if (key === 'user_type') {
                userType = value;
              } else if (key === 'lecturer_join_time') {
                joinTime = value;
              }
              console.log(key, value);
            }
            // add the new attendance data to the new table row
            tableRow.innerHTML = `<td>${id}</td><td>${lecturer_name}</td><td>${joinTime}</td><td>${userType}</td>`;
            tableRow.style.backgroundColor = "#e6ffe6"; // set a background color for the new row
          } else {
            const studentRef = ref(db, 'student/' + id);
            get(child(studentRef, 'name')).then((nameSnapshot) => {
              const name = nameSnapshot.val();
              console.log("\nstudent_id:", id, "student_name:", name);
              const attendance_data = snapshot.val();
              let userType = '';
              let joinTime = '';
              for (const [key, value] of Object.entries(attendance_data)) {
                if (key === 'user_type') {
                  userType = value;
                } else if (key === 'student_join_time') {
                  joinTime = value;
                }
                console.log(key, value);
              }
              // add the new attendance data to the new table row
              tableRow.innerHTML = `<td>${id}</td><td>${name}</td><td>${joinTime}</td><td>${userType}</td>`;
              tableRow.style.backgroundColor = "#e6e6ff"; // set a background color for the new row
            });
          }
          // add the new row to the attendance table
          const attendanceTable = document.getElementById("attendance-table");
          attendanceTable.getElementsByTagName('tbody')[0].appendChild(tableRow);
        });


    </script>

{% endblock %}
