{% extends 'base.html' %}

{% block content %}

  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-10">
        <h2>Dashboard</h2>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="card shadow">
              <div class="card-body">
                <h5 class="card-title">Attendance Performance</h5>
                <canvas id="attendanceChart"></canvas>
              </div>
            </div>
          </div>
            <div class="col-md-6">
            <div class="card shadow">
              <div class="card-body">
                <h5 class="card-title">Detection Statistics</h5>
                <p>Total pages detected: 100</p>
                <p>Total faces unrecognized: 5</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="card shadow">
              <div class="card-body">
                <h5 class="card-title">Model Training</h5>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>Training in progress...</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card shadow">
              <div class="card-body">
                <h5 class="card-title">Classes Registered</h5>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">ID</th>
                          <th scope="col">Class</th>
                          <th scope="col">Lecturer</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i, (c_id, c) in classes.items()|enumerate_custom %}
                          <tr>
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ c_id }}</td>
                            <td>{{ c.name }}</td>
                            <td>{{ c.lecturer }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}





