<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
          {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-info" role="alert">
                  {% for message in messages %}
                    <p class="mb-0">{{ message }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

        <div class="card shadow">
          <div class="card-body">
            <h1 class="text-center mb-3">Login</h1>
            <form action="/login" method="post">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
              <div class="form-group">
                <label for="user_type">User Type</label><br>
                <input type="radio" name="user_type" value="admin" id="admin" checked> Admin<br>
                <input type="radio" name="user_type" value="lecturer" id="lecturer"> Lecturer<br>
                <input type="radio" name="user_type" value="student" id="student"> Student<br>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='assets/js/login.js') }}"></script>

</body>
</html>
